.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___wrapper {
  width: 100%;
  flex: 1;
  justify-content: center;
  cursor: pointer;
}

.fighter-preview___fields-wrapper {
  justify-content: center;
  background: #fffcf8;
  margin: auto;
  border: 5px solid #251807;
  padding-left: 5px;
  width: 100%;
}

.fighter-preview___img-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  margin: auto;
  justify-content: center;
  background: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview___img-wrapper .fighter-preview___img {
  height: 330px;
  max-width: 200px;
  flex: 1;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}


